if ! has nix_direnv_version || ! nix_direnv_version 3.2.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.2.0/direnvrc" "sha256-hW6NC1JHue3IjZN3uDM6l6I2PMaauqd2D7hXYJ1Zfr4="
fi

nix_direnv_disallow_fallback
watch_file rust-toolchain.toml development/flake.nix development/shell.nix
watch_file shrimpman/default.nix shrimpman/config.nix mhf/default.nix mhf/config.nix
watch_file local local/default.nix

if [[ -d local ]]; then
  while IFS= read -r -d '' module; do
    watch_file "$module"
  done < <(find local \( -type d -o -name '*.nix' \) -print0)
fi

export PROJECT_ROOT="$PWD"
use flake . --impure
